<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>709046596518-2k98afj4a3c2lind8u5giehmghpnhkcm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.709046596518-2k98afj4a3c2lind8u5giehmghpnhkcm</string>
	<key>API_KEY</key>
	<string>AIzaSyCKFVZMRtUCU54IDvL_iAieGR7mDQ2kCqU</string>
	<key>GCM_SENDER_ID</key>
	<string>709046596518</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chuck</string>
	<key>PROJECT_ID</key>
	<string>chuck-firebase</string>
	<key>STORAGE_BUCKET</key>
	<string>chuck-firebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:709046596518:ios:9343d0385b9a595e70d567</string>
</dict>
</plist>